@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-clip-text {
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.content {
    display:flex;
    flex-direction: column;
    width:80%;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

* {
    scroll-behavior: smooth;
}