@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    .bg-clip-text {
        -webkit-background-clip: text;
        background-clip: text;
    }
    
}

* {
    scroll-behavior: smooth;
}

p, h1, h2, a, pre {
    transition-duration:1s;
}

.container {
    display:flex;
    width:80%;
    flex-direction: column;
    justify-content: center;
}

