@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    .bg-clip-text {
        -webkit-background-clip: text;
        background-clip: text;
    }
    
    h1 {
        @apply font-bold text-4xl
    }
    h2 {
        @apply  font-bold text-3xl
    }
    h3 {
        @apply font-bold text-xl
    }
}

img {   
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

* {
    scroll-behavior: smooth;
}

p, h1, h2, a, pre {
    transition-duration:1s;
}

.container {
    display:flex;
    width:80%;
    flex-direction: column;
    justify-content: center;
}


